*
{
    font-family: Verdana;
	color: #fff;
}

h1
{
    background-color:#5CCAE6;
    padding:10px;
    margin-top:7px;
    color:#fff;
    text-align: center;
}

h2
{
    color:aquamarine;
}

body 
{  
  background-color:#1b2a4e;
}

img
{
    width: 400;
    height: 200;
}

table
{
	border: black, 10px solid;
	background-color:white;
	
}

th 
{
	letter-spacing: 10px;
	border: 10px solid;
	
}