*
{
    font-family: Verdana;
	text-align: center;
}

h1
{
    background-color:#5CCAE6;
    padding:10px;
    margin-top:7px;
    color:#fff;
	text-align: center;
	align-items: center;
}

h2, h3
{
    color:aquamarine;
	text-align: center;
	align-items: center;
}


body 
{  
  background-color:#1b2a4e;
}

img
{
    width: 300;
    height: 200;
}

ul, li{
	align-items: center;
}

table
{
	border: black solid 1px;
	background-color:white;
	color:black;
	
}

th 
{
	letter-spacing: 10px;
	border: solid 1px;
	color:black;
}
td
{
	border: black solid 1px;
	letter-spacing: 10px;
}

p{
	color:#fff;
}

ul{
	color:#fff;
}